h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.words {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 2rem;
    text-align: center;
}

@scope (.green-container) {
    .words {
        background: #16a34a;
        color: #fff;
        border-radius: 2rem;
    }
}

@scope (.blue-container) {
    .words {
        background: #2563eb;
        color: #fff;
        border-radius: 2rem;
    }
}