header {

    h1 {
        font-size: var(--font-lg);
        margin: var(--space-sm);
    }

    ul {
        display: flex;
        gap: var(--space-sm);
        list-style: none;
        justify-content: center;

        a {
            background-color: var(--color-accent);
            color: var(--color-bg);
            transition: color 0.3s ease;
            transition: background-color 0.3s ease;
            padding: var(--space-sm);
            border-radius: var(--border-radius);

            &:hover {
                background-color: var(--color-bg);
                color: var(--color-accent);
            }
        }
    }
}
